@import url(/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
:root{
    --primary_color:rgba(181,65,108,1);
    --secondary_color:rgba(92,86,121,1);
    --white_blure_color_6:rgba(255, 255, 255, 0.6);
    --white_blure_color_8:rgba(255, 255, 255, 0.8);

}
.gameBody{
    width: 100vw;
    height: 100vh;
    background: rgb(181,65,108);
    background: linear-gradient(45deg, rgba(181,65,108,1) 29%, rgba(92,86,121,1) 78%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBox{
    width: 800px;
    height: 500px;
    
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 425px){
    .mainBox{
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
}
.leftBox{
    width: 50%;
    height: 100%;
    background-color: var(--white_blure_color_6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.rightBox{
    width: 50%;
    height: 100%;
    background-color: var(--white_blure_color_6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 425px){
    .leftBox{
        transform: rotate(180deg);
        width: 100%;
        height: 100%;
    }
    .rightBox{
        
        width: 100%;
        height: 100%;
    }
    
}  


.yourTurn{
    background-color: rgba(255, 255, 255, 0.4);
}
.playerNum{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.totalScore{
    display: block;
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    color: var(--primary_color);
}
.currentBox{
    width: 110px;
    height: 60px;
    background-color: var(--primary_color);
    border-radius: 8px;
    text-align: center;
    color: aliceblue;
    padding: 5px;
}
.currentScore{
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
}
/* ----------buttons start---------------------------------------- */
.btn{
    position: absolute;
    background-color: var(--white_blure_color_8);
    border-radius: 20px;
    outline: 0;
    border: none;
    padding: 8px 20px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 1.2rem;
    box-shadow: 0 0 4px 3px rgba(80, 79, 79, 0.199);
    cursor: pointer;
}
.btnNew{
    top:30px;
}
.btnRollDice{
    bottom: 140px;
}
.btnHold{
    bottom: 80px;
}
@media screen and (max-width: 425px){
    .btn{
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        left: auto;
        padding: 10px 5px;
         
    }
    .btnNew{
        right:20px;
    }
    .btnRollDice{
        left: 80px;
        bottom: auto;
    }
    .btnHold{
        left: 25px;
        bottom: auto;
    }

}
/* ----------buttons end---------------------------------------- */
/* ---------dice start------------------------ */
.dice{
    position: absolute;
    background-color: rgb(231, 233, 233) ;
    border-radius: 5px;
    border: none;
    left: 350px;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    bottom: 250px;
    display: none;
    padding: 6px;
}
@media screen and (max-width: 425px){
    .dice{
        
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
    }
}
.dice-show{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}
.dice_item{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--primary_color);
    display: none;
}
.dice_one{
    grid-column:1/2;
    grid-row:1/2;
}
.dice_two{
    grid-column:2/3;
    grid-row:1/2;
}
.dice_three{
    grid-column:3/4;
    grid-row:1/2;
}
.dice_four{
    grid-column:1/2;
    grid-row:2/3;
}
.dice_five{
    grid-column:2/3;
    grid-row:2/3;
}
.dice_six{
    grid-column:3/4;
    grid-row:2/3;
}
.dice_seven{
    grid-column:1/2;
    grid-row:3/4;
}
.dice_eight{
    grid-column:2/3;
    grid-row:3/4;
}
.dice_nine{
    grid-column:3/4;
    grid-row:3/4;
}
.dice-1 .dice_five{
    display: block;
}
/* -------2-------- */
.dice-2 .dice_three{
    display: block;
}
.dice-2 .dice_seven{
    display: block;
}
/* --------------- */
/* -------3------- */
.dice-3 .dice_three{
    display: block;
}
.dice-3 .dice_seven{
    display: block;
}
.dice-3 .dice_five{
    display: block;
}
/* --------------- */
/* -------4-------- */
.dice-4 .dice_one{
    display: block;
}
.dice-4 .dice_three{
    display: block;
}
.dice-4 .dice_seven{
    display: block;
}
.dice-4 .dice_nine{
    display: block;
}
/* -------------- */
/* -------5-------- */
.dice-5 .dice_one{
    display: block;
}
.dice-5 .dice_three{
    display: block;
}
.dice-5 .dice_seven{
    display: block;
}
.dice-5 .dice_nine{
    display: block;
}
.dice-5 .dice_five{
    display: block;
}
/* -------------- */
/* -------6-------- */
.dice-6 .dice_one{
    display: block;
}
.dice-6 .dice_three{
    display: block;
}
.dice-6 .dice_seven{
    display: block;
}
.dice-6 .dice_nine{
    display: block;
}
.dice-6 .dice_four{
    display: block;
}
.dice-6 .dice_six{
    display: block;
}
/* -------------- */
/* ---------dice end------------------------ */
.message{
    position: absolute;
    background-color: var(--secondary_color);
    color: aliceblue;
    border-radius: 20px;
    outline: 0;
    border: none;
    padding: 8px 20px;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 1.6rem;
    box-shadow: 0 0 4px 3px rgba(80, 79, 79, 0.199);
    
}
@media screen and (max-width: 425px){
    .message{
        font-size: 1.2rem;
        transform: translateY(50%) rotate(90deg);
        left: -70px;
        bottom: 50%;
    }
}

    
